<span class="small">
  <a href="/user/<%=comment.user_id%>"><%=comment.user.name%></a>
  <%=time(comment)%> days ago</span><br>
  <%= comment.message %><br>
  <% if current_user.id == comment.user.id %>
    <span class="small"><a href='/joke/<%=@joke.id%>/comments/<%=comment.id%>/edit'>Edit</a>
    <a href='/joke/<%=@joke.id%>/comments/<%=comment.id%>/delete'>Delete</a><br>
  <% end %>
</span>