<!-- TODO: Take our the br later in styling -->
<ol>
<!-- Move ALL AR methods into your controllers, or even better, a method on your model -->
  <% @jokes.order(:created_at).reverse.each do |joke| %>
  <li>
    <a href="/joke/<%= joke.id %>"><%= joke.line1 %></a>
    <br>
    <span class="small">
      <a href="/joke/<%= joke.id %>"><%=joke.comments.count%> comments</a> and <%= rand(1..10)%> laughes for <a href="/user/<%=joke.user.id%>"><%=joke.user.name%></a> | <a href="/joke/<%= joke.id %>"><%=time(joke)%> moons ago</a>
      <% if current_user%>
        <a href='/joke/<%=joke.id%>/edit'>Edit</a> |
        <a href='/joke/<%=joke.id%>/delete'>Delete</a>
      <% end %>
    </span>
    <br>
  </li>
  <br>
  <% end %>
</ol>
