<div class="container">
  <div class="edit">
    <% if current_user.id == @joke.user.id %>
    <a href='/joke/<%=@joke.id%>/edit'>Edit</a> |
    <a href='/joke/<%=@joke.id%>/delete'>Delete</a>
    <% end %>
  </div>
  <h1><%=@joke.line1%></h1>
  <span class="small">
    <a href="/joke/<%= @joke.id %>"><%=@joke.comments.count%> comments</a> and <%= rand(1..10)%> laughes for <a href="/user/<%=@joke.user.id%>"><%=@joke.user.name%></a> | <a href="/joke/<%= @joke.id %>"><%=time(@joke)%> moons ago</a>
  </span>
  <p><%=@joke.line2%></p>
   <!-- TODO: Comment area -->
</div>